// GOVUK VARIABLE OVERRIDES
$govuk-font-family: 'Bundes Serif';
$govuk-brand-colour: #004f80;
$govuk-focus-colour: #80cdec;
$govuk-text-colour: #333333;
$govuk-secondary-text-colour: #4d4d4d;
$govuk-link-colour: #333333;

$govuk-page-width: 1200px;
$govuk-breakpoints: (
  mobile: 320px,
  tablet: 641px,
  desktop: 900px,
);

// ADDITIONAL VARIABLES
$white: #ffffff;
$border-gray: #dbdbdb;
$lightblue: #d9f0ff;
$green: #00703c;
$darkblue: #003e6c;
$inputs: #f5f5f5;
$input-hover: #ebebeb;
$darkgray: #666666;

$custom-breakpoints: (
  xl: 1200px,
);

$border-radius: 8px;
