{% macro getChildren(item) %}
<li id="{{ item.id }}">
    <span class="paragraph-name">{{ item.attributes.name }}</span> {{ item.attributes.title }}
    {% if item.attributes.body.content %}
    <div class="content-small">{{ item.attributes.body.content | safe }}</div>
    {% endif %}
    {% if item.children %}
    <ul>
        {% for item in item.children %}
        {{ getChildren(item) }}
        {% endfor %}
    </ul>
    {% endif %}
</li>
{% endmacro %}