{% macro tableOfContents(item) %}
<li>
    <a href="#{{item.id}}" data-parent="text" class="deep-link">
        <span class="paragraph-name">{{ item.name | safe }}</span> {{ item.title | safe }}
    </a>
    {% if item.children.length %}
    <ul>
        {% for item in item.children %}
        {{ tableOfContents(item) }}
        {% endfor %}
    </ul>
    {% endif %}
</li>
{% endmacro %}