<!DOCTYPE html>
<html lang="de">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>{{ title }}</title>
    <style>
      {% include "css/styles.css" ignore missing %}
    </style>
  </head>
  <body class="govuk-template__body ">
    <script>
      document.body.className = document.body.className
        ? document.body.className + " js-enabled"
        : "js-enabled";
    </script>
    <div class="govuk-width-container">
      {% include "../partials/header.njk" %}
      {{ content | safe }}
      {% block content %}{% endblock content %}
      <button id="scroll-to-top">Nach oben <i class="fas fa-arrow-up"></i></button>
    </div>
    <script src="/js/govuk.js"></script>
    <script>
      window.GOVUKFrontend.initAll();
    </script>
    <script type="text/javascript" src="/js/deeplink.js"></script>
    <script type="text/javascript" src="/js/scrolltop.js"></script>
  </body>
</html>
