---
pagination:
  data: laws
  alias: item
  size: 1
layout: main
permalink: "/{{item.data.abbreviation | lower}}/"
title: {{item.data.headingLong}}
---

{% from "macros/toc.njk" import tableOfContents %}

<div class="govuk-width-container">
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="../">Start</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <span class="govuk-breadcrumbs__link" >{{
          item.data.headingLong
        }}</span>
      </li>
    </ol>
  </div>

  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">
          {{item.data.headingLong}} ({{item.data.abbreviation}})
        </h1>
        <div class="govuk-body gesetz-text">
            {% for section in item.data.contents %}
            <h4>{{section.name}} {{section.title}}</h4>
            <p>{{section.body.content | safe}}</p>
            {% endfor %}
        </div>
      </div>

      <div class="govuk-grid-column-one-third inhaltsverzeichnis">
        <h3 class="govuk-heading-m">Nichtamtliches Inhaltsverzeichnis</h3>
        <ul>
        {% for item in item.data.contents | unflatten %}
          {{ tableOfContents(item) }}
        {% endfor %}
        </ul>
      </div>
    </div>
  </main>
</div>
