---
pagination:
  data: laws
  alias: item
  size: 1
layout: main
permalink: "/{{ item.data.abbreviation | slug }}/"
eleventyComputed:
  title: "{{ item.data.headingLong }}"
---

{% from "macros/toc.njk" import tableOfContents %}

<div class="govuk-width-container">
  <main class="govuk-main-wrapper">
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="{{ '/' | url }}">Start</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <span class="govuk-breadcrumbs__link" >{{
          item.data.abbreviation
        }}</span>
      </li>
    </ol>
  </div>
  <section class="content">
    <header>
    {% if item.data.headingShort %}
      <h1>{{ item.data.headingShort }}</h1>
      <span class="govuk-caption-xl">{{ item.data.headingLong | safe }}</span>
      {% else %}
      <h1>{{ item.data.headingLong }}</h1>
    {% endif %}
    </header>
  
    <div class="govuk-tabs" data-module="govuk-tabs">
      <ul class="govuk-tabs__list">
        <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
          <a class="govuk-tabs__tab" href="#text">
            <i class="fas fa-landmark"></i> Gesetz
          </a>
        </li>
        <li class="govuk-tabs__list-item">
          <a class="govuk-tabs__tab" href="#inhaltsverzeichnis">
            <i class="fas fa-stream"></i> Inhaltsverzeichnis
          </a>
        </li>
        <li class="govuk-tabs__list-item">
          <a class="govuk-tabs__tab" href="#weitere-informationen">
            <i class="fas fa-info-circle"></i> Weitere Informationen
          </a>
        </li>
      </ul>

      <div class="govuk-tabs__panel" id="text">
        {% for section in item.data.contents %}
        <article id ="{{ section.id }}">
          {% if section.type === "heading" %}
              <h3 class="subheading" id>{{section.name | safe }}<br/>
              {{ section.title | safe }}</h3>
              {% if section.body.content %}
                {{ section.body.content | safe }}
              {% endif %}
          {% elif section.type === "article" %}
              <h3 class="article-name"><a href="{{section.id}}.html"><span class="accent-gray">{{section.name}}</span> {{ section.title | safe }}</a></h3>
              <p>{{ section.body.content | safe }}</p>
          {% endif %}
        </article>
        {% endfor %}
      </div>

      <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="inhaltsverzeichnis" data-type="inhaltsverzeichnis">
        <h3 class="govuk-heading-m">Nichtamtliches Inhaltsverzeichnis</h3>
        <ul>
        {% for item in item.data.contents | unflatten %}
          {{ tableOfContents(item, deepLink=true, current='') }}
        {% endfor %}
        </ul>
      </div>

      <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="weitere-informationen">

        <div class="info current">
          <i class="fas fa-check"></i>
          <p class="">Aktuelle Version</p>
        </div>

        <div class="info">
          <i class="fas fa-font"></i>
          <p class="">Abkürzung: {{ item.data.abbreviation }}</p>
        </div>
        
        {% for status in item.data.statusInfo %}
          {% if status.category === "Stand" %}
            <div class="info">
              <i class="fas fa-calendar-check"></i>
              <p class="">Stand: {{ status.comment }}</p>
            </div>
          {% elif status.category === "Hinweis" %}
            <div class="info">
              <i class="fas fa-exclamation-circle"></i>
              <p class="">Hinweis: {{ status.comment }}</p>
            </div>
          {% endif %}
        {% endfor %}
        
      </div>
    </div>
    </section>
  </main>
</div>
