{% extends 'layouts/main.njk' %}
{% set title = "Rechtsinformationsportal" %}
{% block content %}
<div class="govuk-width-container">

  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <ul>
      {% for law in laws -%}
        <li><a href="{{ '/' | url }}{{law.data.abbreviation | slug }}/index.html">
        {% if law.data.headingShort %}{{ law.data.headingShort }}
        {% else %}
        {{ law.data.headingLong }}
        {% endif %}
        ({{law.data.abbreviation}})</a></li>
      {% endfor -%}
      </ul>
    </div>
  </main>
</div>
{% endblock %}