{% extends 'layouts/main.njk' %} {% set title = "Rechtsinformationsportal" %} {%
block content %}
<div class="intro-text">
  <h1>Rechtsinformationsportal</h1>
  <h2>Alle aktuellen Gesetze und Verordnungen des Bundes.</h2>
  <div class="search-bar__container-home">
    {% include "./_includes/partials/searchBar.njk" %}
  </div>
</div>
{% endblock %}
