{% extends 'layouts/main.njk' %}
{% set title = "Rechtsinformationsportal" %}
{% block content %}
<div class="govuk-width-container">
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <ul>
      {% for law in lawList -%}
        <li><a href="{{ '/' | url }}{{ law.slug }}/index.html">
        {% if law.titleShort %}{{ law.titleShort }}
        {% else %}
        {{ law.titleLong }}
        {% endif %}
        ({{law.abbreviation}})</a></li>
      {% endfor -%}
      </ul>
    </div>
  </main>
</div>
{% endblock %}