---
pagination:
  data: test
  alias: item
  size: 1
  resolve: values
layout: main
permalink: "/alg/{{ item.attributes.name | slug }}.html"
title: Test
---

<div class="govuk-width-container">
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="../../">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="./index.html">Level 1</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="#">{{ item.attributes.name }} {{ item.attributes.title }}</a>
      </li>
    </ol>
  </div>

  <main class="govuk-main-wrapper">

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <div class="govuk-body gesetz-text">
        <h1 class="govuk-heading-xl">
          {{ item.attributes.name }} {{ item.attributes.title }}
        </h1>
          <p>{{ item.attributes.body.content | safe }}</p>
        </div>
      </div>

      <div class="govuk-grid-column-one-third">
        <h3 class="govuk-heading-m">Nichtamtliches Inhaltsverzeichnis</h3>
        {# <p class="govuk-body">
          {% for item in gesetz.content %}
          {{ getHeadings(item) }}
          {% endfor %}
        </p> #}
      </div>
    </div>
  </main>
</div>
