---
layout: main
pagination:
  data: sections
  alias: section
  size: 1
permalink: "/{{ section.abbreviation | slug }}/{{ section.id }}.html"
title: Test
---

{% from "../node_modules/govuk-frontend/govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}

<div class="govuk-width-container">
{{ govukBreadcrumbs({
  items: [
    {
      text: "Start",
      href: "../"
    },
    {
      text: section.abbreviation,
      href: "./index.html"
    },
    {
      text: section.name + section.title | empty,
      href: "#"
    }
  ]
}) }}
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">
          {{section.name}} {{section.title}}
        </h1>
        <div class="govuk-body gesetz-text">
            <p>{{section.body.content | safe}}</p>
        </div>
      </div>

      {# <div class="govuk-grid-column-one-third inhaltsverzeichnis">
        <h3 class="govuk-heading-m">Nichtamtliches Inhaltsverzeichnis</h3>
        <ul>
        {% for item in item.data.contents | unflatten %}
          {{ tableOfContents(item) }}
        {% endfor %}
        </ul>
      </div> #}
    </div>
  </main>
</div>
