@font-face {
  font-family: 'Bundes Serif';
  src: url('/assets/fonts/bundes-serif/BundesSerif-Web-Regular.eot');
  src: url('/assets/fonts/bundes-serif/BundesSerif-Web-Regular.eot?#iefix')
      format('embedded-opentype'),
    url('/assets/fonts/bundes-serif/BundesSerif-Web-Regular.woff')
      format('woff'),
    url('/assets/fonts/bundes-serif/BundesSerif-Web-Regular.ttf')
      format('truetype');
  font-weight: 400;
}

@font-face {
  font-family: 'Bundes Serif';
  src: url('/assets/fonts/bundes-serif/BundesSerif-Web-Bold.eot');
  src: url('/assets/fonts/bundes-serif/BundesSerif-Web-Bold.eot?#iefix')
      format('embedded-opentype'),
    url('/assets/fonts/bundes-serif/BundesSerif-Web-Bold.woff') format('woff'),
    url('/assets/fonts/bundes-serif/BundesSerif-Web-Bold.ttf')
      format('truetype');
  font-weight: 600;
}
