@import 'normalize';
@import 'variables';
@import 'fonts';
@import '../../node_modules/govuk-frontend/govuk/all';
@import 'fontawesome/fontawesome.scss';

html,
body {
  font-family: 'Bundes Serif', 'Cambria', 'Georgia', 'Times New Roman', serif;
  font-size: 18px;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  width: 100%;
  hyphens: auto;
}

@include govuk-media-query($from: desktop) {
  html,
  body {
    font-size: 18px;
  }
}

* {
  box-sizing: border-box;
}

.t4g-header {
  background: none;
  img {
    width: 200px;
  }
  &__link {
    display: inline-block;
    &:focus {
      background-color: $govuk-focus-colour;
    }
  }
}

.t4g-header__container {
  border-bottom: none;
  border-top: 10px solid $govuk-brand-colour;
  padding-top: 2rem;
}

.paragraph-name {
  font-weight: 600;
}

.accent-gray {
  color: $govuk-secondary-text-colour;
}

.deep-link > * {
  pointer-events: none;
}

a:focus {
  background: $govuk-focus-colour;
}

table {
  max-width: 100%;
}

[data-type='inhaltsverzeichnis'] {
  font-size: 1.125rem;

  ul,
  ol {
    list-style-type: none;
    padding-left: 0;
    ul,
    ol {
      padding-left: 10px;
    }
  }
  li {
    line-height: 2.8125rem;
    padding: 0 10px;

    &.current-section {
      background-color: $lightblue;
      border-radius: $border-radius;
    }
  }
}

[data-type='gesetz'] {
  ul,
  ol {
    list-style-type: none;
    padding-left: 0;
  }
}

dt,
dd {
  display: inline-block;
}

dt {
  width: 2rem;
  vertical-align: top;
}

dt + dd,
dt + la {
  width: calc(100% - 2.5rem);
  margin-left: 0;
}

// TYPO

h1,
h2 {
  color: $govuk-brand-colour;
  font-weight: 600;
  line-height: 1.09375;
  display: block;
  margin-top: 0;
}

h1 {
  margin-bottom: 0.3rem;
}

h1 + .govuk-caption-xl {
  font-weight: 400;
  color: $govuk-brand-colour;
}

h3 {
  color: $govuk-brand-colour;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 1.3;

  a {
    color: inherit;
    text-decoration: underline;
    //box-shadow: inset 0 -2px 0px 0px black;
    &:hover {
      text-decoration: none;
      opacity: 0.8;
    }
  }
}

a {
  color: $govuk-link-colour;
  text-decoration: none;
}

.content header {
  margin-bottom: 2rem;
}

#scroll-to-top {
  display: block;
  position: fixed;
  bottom: 5vh;
  right: 10vh;
  cursor: pointer;
  z-index: 999;
  padding: 1rem;
}

.js-enabled #scroll-to-top {
  display: none;
  &.show {
    display: block;
  }
}

// MORE INFO

.info {
  display: flex;
  margin-bottom: 1rem;
  color: $govuk-secondary-text-colour;

  &.current {
    color: $green;
  }

  i {
    margin: 3px 1rem 0 0;
    font-size: 1.125rem;
  }

  p {
    margin: 0;
  }
}

// TABS

.js-enabled .govuk-tabs__panel,
.govuk-tabs__panel {
  width: 100%;
  overflow: hidden;
  border: 0;
}

.js-enabled .govuk-tabs__list,
.govuk-tabs__list {
  border: none;
}

.js-enabled .govuk-tabs__list-item,
.govuk-tabs__list-item {
  float: none;
  min-height: 44px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: 0 0 0.6rem 0;
  min-width: 300px;
  padding: 0.6rem 1rem;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border: none;
  border-radius: $border-radius;
  background-color: rgba(0, 0, 0, 0.04);
  font-size: 1rem;

  &::before {
    content: none;
  }

  &:hover {
    background-color: rgba(0, 0, 0, 0.08);
  }

  .govuk-tabs__tab {
    margin-bottom: 0;
    font-weight: 600;
    width: 100%;
    &:link,
    &:visited,
    &:hover,
    &:focus {
      text-decoration: none;
      color: $govuk-text-colour;
      background: none;
      box-shadow: none;
    }

    i {
      margin-right: 8px;
      opacity: 0.7;
    }
  }

  &--selected {
    border-color: $govuk-brand-colour;
    background-color: $govuk-brand-colour;

    &:hover {
      background-color: $darkblue;
    }

    .govuk-tabs__tab {
      color: #fff;

      &:link,
      &:visited {
        color: #fff;
      }
    }
  }
}

// with javascript
@include govuk-media-query($from: desktop) {
  h1 {
    font-size: 2.5rem;
  }

  h1 + .govuk-caption-xl {
    font-size: 1.5rem;
  }

  [data-type='inhaltsverzeichnis'] {
    font-size: 1rem;
  }

  .js-enabled {
    .govuk-tabs {
      display: flex;
      flex-direction: row;
    }

    .govuk-tabs__list {
      display: flex;
      flex-direction: column;
      min-width: fit-content;
      align-self: flex-start;
      position: -webkit-sticky;
      position: sticky;
      top: 0;
    }

    .govuk-tabs__list-item {
      text-align: left;
    }

    .govuk-tabs__panel {
      width: 100%;
      padding: 0 0 0 2rem;

      h3:first-of-type {
        margin-top: 0;
      }
    }
  }
}
