$govuk-font-family: "IBM Plex Serif";
$govuk-brand-colour: #004f80;
$govuk-focus-colour: #81b5d4;
$govuk-text-colour: #333333;
$govuk-secondary-text-colour: #4d4d4d;
$govuk-link-colour: #333333;

$white: #ffffff;
$border-gray: #dbdbdb;
$accent-gray: #4d4d4d;
