<div class="disclaimer__container">
  <div id="disclaimer-mini">
    <div class="govuk-width-container">
      <p>
        Disclaimer: kein offizielles Portal des BMJ. Für die Richtigkeit und Aktualität der Informationen übernehmen wir keine
        Gewähr.
        <a href="https://tech.4germany.org/project/rechtsinformationsportal/" target="_blank">Mehr Informationen</button>
      </p>
    </div>
  </div>
</div>
