<div class="disclaimer__container">
  <div id="disclaimer-mini" class="hidden">
    <div class="govuk-width-container">
      <p>
        Disclaimer: kein offizielles Portal des BMJV. Für die Richtigkeit der
        Informationen übernehmen wir keine Gewähr.
      </p>
    </div>
  </div>
  <div id="disclaimer">
    <div class="govuk-width-container">
      <p>
        Diese Seite ist ein Prototyp des
        <a href="https://tech.4germany.org/" target="_blank">Tech4Germany</a>
        Fellowship Jahrgangs 2020. Die Seite wird nicht mehr aktiv gepflegt,
        und für die Richtigkeit der Informationen übernehmen wir keine Gewähr.
        <a
          href="https://tech.4germany.org/project/rechtsinformationsportal/"
        >
          Detaillierte Fallstudie
        </a>.
      </p>
      <div class="disclaimer__actions">
        <button type="button" id="close-disclaimer">
          <span class="visually-hidden">Disclaimer</span>
          Schließen <i class="fas fa-times-circle"></i>
        </button>
      </div>
    </div>
  </div>
</div>
