<div class="gem-c-modal-dialogue" data-module="modal-dialogue" id="disclaimer-modal">
  <div class="gem-c-modal-dialogue__overlay">
    <div class="gem-c-modal-dialogue__box" aria-modal="true" aria-label="Achtung: Prototyp" role="dialog" tabindex="0">
      <div class="gem-c-modal-dialogue__header"></div>
      <div class="gem-c-modal-dialogue__content">
        <h1>Achtung: Informationen veraltet</h1>
        <p>
          Diese Seite ist ein Prototyp des
          <a href="https://digitalservice.bund.de/tech4germany" target="_blank">Tech4Germany</a>
          Fellowship Jahrgangs 2020 (<a href="https://tech.4germany.org/project/rechtsinformationsportal/" target="_blank"
          >Detaillierte Fallstudie</a>). Die Seite wird nicht aktiv gepflegt und die Inhalte werden nicht mehr aktualisiert, daher
          übernehmen wir für die Richtigkeit der Informationen keine Gewähr.
        </p>
        <p>
          Aktuelle Rechtsinformationen finden Sie unter
          <a href="https://www.gesetze-im-internet.de/" target="_blank">www.gesetze-im-internet.de</a>
          und bei diversen privaten Anbietern.
        </p>
        <p>
          <button id="close-disclaimer-modal">Ich habe verstanden und möchte trotzdem fortfahren</button>
        </p>
        <p>
          <small>Diese Meldung wird nicht erneut angezeigt bis Sie diesen Tab schließen.</small>
        </p>
      </div>
    </div>
  </div>
</div>
