<header class="t4g-header" role="banner" data-module="t4g-header">
  <div class="t4g-header__container govuk-width-container">
    <div class="t4g-header__logo">
      <a href="#" class="t4g-header__link t4g-header__link--homepage">
        <image src="/assets/images/logo-bmjv.png" xlink:href="" alt="Logo des Bundesministeriums der Justiz und für Verbraucherschutz." ></image>
      </a>
    </div>
  </div>
</header>