<header class="t4g-header" role="banner" data-module="t4g-header">
  <div class="t4g-header__container govuk-width-container">
    <div class="t4g-header__logo">
      <a
        href="{{ '/' | url }}"
        class="t4g-header__link t4g-header__link--homepage"
      >
        <image
          src="/assets/images/logo-bmj.svg"
          xlink:href=""
          alt="Logo des Bundesministeriums der Justiz."
        ></image>
      </a>
    </div>
    <div class="search-bar__container">
      {% if page.url !== "/" %} {% include "./searchBar.njk" %} {% endif %}
    </div>
  </div>
</header>
