<ul></ul>
<div class="pagination hidden">
  <button type="button" class="button-secondary pagination-btn">
    Weitere Ergebnisse
  </button>
  <div class="pagination-position">
    Seite <span class="current-page">1</span> von
    <span class="total-pages"></span>
  </div>
</div>
